<h2>{{message}}</h2>
<div [hidden]="isSubmitted">
    <form (ngSubmit)="save()" name="custForm" novalidate [formGroup]="form">
        <table class="table table-bordered table-striped">
            <tbody>
                <tr>
                    <td>
                        Customer Id
                    </td>
                    <td>
                        <input type="text" class="form-control" [(ngModel)]="customer.custid" name="custid" formControlName="custid">
                        <div *ngIf="form.controls.custid.dirty && !form.controls.custid.valid" class="alert alert-danger">
                            <p *ngIf="form.controls.custid.errors.required">
                                Customer id is must
                            </p>
                            <p *ngIf="form.controls.custid.errors.pattern">
                                Customer id must be number
                            </p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Customer Name
                    </td>
                    <td>
                        <input type="text" class="form-control" [(ngModel)]="customer.custname" name="custname" formControlName="custname">
                        <div *ngIf="form.controls.custname.dirty && !form.controls.custname.valid" class="alert alert-danger">
                            <p *ngIf="form.controls.custname.errors.pattern">
                                Customer name should be upper case and only characters
                            </p>
                            <p *ngIf="form.controls.custname.errors.minlength || form.controls.custname.errors.maxlength">
                                Customer name should be min of 2 and max of 50 characters
                            </p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Customer Address
                    </td>
                    <td>
                        <input type="text" class="form-control" [(ngModel)]="customer.address" name="address" formControlName="address">
                        <div *ngIf="form.controls.address.dirty && !form.controls.address.valid" class="alert alert-danger">                           
                            <p *ngIf="form.controls.address.errors.pattern">
                                Customer address should be upper case and only characters
                            </p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Customer City
                    </td>
                    <td>
                        <input type="text" class="form-control" [(ngModel)]="customer.city" name="city" formControlName="city">
                        <div *ngIf="form.controls.city.dirty && !form.controls.city.valid" class="alert alert-danger">                           
                            <p *ngIf="form.controls.city.errors.pattern">
                                Customer city should be upper case and only characters
                            </p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Customer State
                    </td>
                    <td>
                        <input type="text" class="form-control" [(ngModel)]="customer.state" name="state" formControlName="state">
                        <div *ngIf="form.controls.state.dirty && !form.controls.state.valid" class="alert alert-danger">                           
                            <p *ngIf="form.controls.state.errors.pattern">
                                Customer state should be upper case and only characters
                            </p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Customer Occupation
                    </td>
                    <td>
                        <!--<input type="text" class="form-control" [(ngModel)]="customer.occupation" id="customer-occupation">-->
                        <select [(ngModel)]="customer.occupation" name="occupation" formControlName="occupation" class="form-control">
                            <option *ngFor="let o of occupations">{{o}}</option>
                        </select>
                        <div *ngIf="form.controls.occupation.dirty && customer.occupation==='Self-Employed'" class="alert alert-info">                           
                            <p>Service tax applied</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Customer Email
                    </td>
                    <td>
                        <input type="text" class="form-control" [(ngModel)]="customer.email" name="email" formControlName="email">
                        <div *ngIf="form.controls.email.dirty && !form.controls.email.valid" class="alert alert-danger">                           
                            <p *ngIf="form.controls.email.errors.incorrectEmail">
                                Email is wrong
                            </p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Customer Income
                    </td>
                    <td>
                        <input type="text" class="form-control" [(ngModel)]="customer.income" name="income" formControlName="income">
                    </td>
                </tr>
                <tr>
                    <td>
                        Customer Tax
                    </td>
                    <td>
                        <input type="text" class="form-control" [(ngModel)]="customer.tax" name="tax" formControlName="tax">
                    </td>
                </tr>

                <tr>
                    <td>
                        <input type="button" value="New" class="btn btn-default" id="btnNew" (click)="clear()">
                    </td>
                    <td>
                        <input type="submit" value="Save" class="btn btn-success" id="btnSave">
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
<div [hidden]="!isSubmitted">
    <table class="table table-bordered table-striped">
        <thead>
            <th>
                Customer Id
            </th>
            <th>
                Customer Name
            </th>
            <th>
                Customer Address
            </th>
            <th>
                Customer City
            </th>
            <th>
                Customer State
            </th>
            <th>
                Customer Occupation
            </th>
            <th>
                Customer Email
            </th>
            <th>
                Customer Income
            </th>
            <th>
                Customer Tax
            </th>
        </thead>
        <tbody id="dataholder">
            <tr *ngFor="let c of customers" (click)="getSelectedCustomer(c)">
                <td>{{c.custid}}</td>
                <td>{{c.custname}}</td>
                <td>{{c.address}}</td>
                <td>{{c.city}}</td>
                <td>{{c.state}}</td>
                <td>{{c.occupation}}</td>
                <td>{{c.email}}</td>
                <td>{{c.income}}</td>
                <td>{{c.tax}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="9">
                    <input type="button" value="OK" (click)="loadForm()" class="btn btn-success">
                </td>
            </tr>
        </tfoot>
    </table>
</div>